In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
netflixdataset = pd.read_csv(r"C:\Users\Siri Chandana\Documents\netflix_titles.csv")

In [4]:
netflixdataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [5]:
netflixdataset.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [7]:
print(netflixdataset.isnull().sum())

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [8]:
netflixdataset = netflixdataset.dropna()

In [9]:
netflixdataset = netflixdataset.drop_duplicates()

In [10]:
netflixdataset['type'] = netflixdataset['type'].str.lower().str.strip()
netflixdataset['country'] = netflixdataset['country'].str.lower().str.strip()
netflixdataset['rating'] = netflixdataset['rating'].str.upper().str.strip()
netflixdataset['listed_in'] = netflixdataset['listed_in'].str.lower().str.strip()

In [12]:
print(netflixdataset)

     show_id     type                          title             director  \
7         s8    movie                        Sankofa         Haile Gerima
8         s9  tv show  The Great British Baking Show      Andy Devonshire
9        s10    movie                   The Starling       Theodore Melfi
12       s13    movie                   Je Suis Karl  Christian Schwochow
24       s25    movie                          Jeans           S. Shankar
...      ...      ...                            ...                  ...
8801   s8802    movie                        Zinzana      Majid Al Ansari
8802   s8803    movie                         Zodiac        David Fincher
8804   s8805    movie                     Zombieland      Ruben Fleischer
8805   s8806    movie                           Zoom         Peter Hewitt
8806   s8807    movie                         Zubaan          Mozez Singh

                                                   cast  \
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8     Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9     Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12    Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
24    Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...
...                                                 ...
8801  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                                                country          date_added  \
7     united states, ghana, burkina faso, united kin...  September 24, 2021
8                                        united kingdom  September 24, 2021
9                                         united states  September 24, 2021
12                              germany, czech republic  September 23, 2021
24                                                india  September 21, 2021
...                                                 ...                 ...
8801                       united arab emirates, jordan       March 9, 2016
8802                                      united states   November 20, 2019
8804                                      united states    November 1, 2019
8805                                      united states    January 11, 2020
8806                                              india       March 2, 2019

      release_year rating   duration  \
7             1993  TV-MA    125 min
8             2021  TV-14  9 Seasons
9             2021  PG-13    104 min
12            2021  TV-MA    127 min
24            1998  TV-14    166 min
...            ...    ...        ...
8801          2015  TV-MA     96 min
8802          2007      R    158 min
8804          2009      R     88 min
8805          2006     PG     88 min
8806          2015  TV-14    111 min

                                             listed_in  \
7     dramas, independent movies, international movies
8                         british tv shows, reality tv
9                                     comedies, dramas
12                        dramas, international movies
24     comedies, international movies, romantic movies
...                                                ...
8801           dramas, international movies, thrillers
8802                    cult movies, dramas, thrillers
8804                           comedies, horror movies
8805                children & family movies, comedies
8806    dramas, international movies, music & musicals

                                            description
7     On a photo shoot in Ghana, an American model s...
8     A talented batch of amateur bakers face off in...
9     A woman adjusting to life after a loss contend...
12    After most of her family is murdered in a terr...
24    When the father of the man she loves insists t...
...                                                 ...
8801  Recovering alcoholic Talal wakes up inside a s...
8802  A political cartoonist, a crime reporter and a...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[5332 rows x 12 columns]

In [14]:
netflixdataset['date_added'] = pd.to_datetime(netflixdataset['date_added'], errors='coerce')
print(netflixdataset)

     show_id     type                          title             director  \
7         s8    movie                        Sankofa         Haile Gerima
8         s9  tv show  The Great British Baking Show      Andy Devonshire
9        s10    movie                   The Starling       Theodore Melfi
12       s13    movie                   Je Suis Karl  Christian Schwochow
24       s25    movie                          Jeans           S. Shankar
...      ...      ...                            ...                  ...
8801   s8802    movie                        Zinzana      Majid Al Ansari
8802   s8803    movie                         Zodiac        David Fincher
8804   s8805    movie                     Zombieland      Ruben Fleischer
8805   s8806    movie                           Zoom         Peter Hewitt
8806   s8807    movie                         Zubaan          Mozez Singh

                                                   cast  \
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8     Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9     Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12    Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
24    Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...
...                                                 ...
8801  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                                                country date_added  \
7     united states, ghana, burkina faso, united kin... 2021-09-24
8                                        united kingdom 2021-09-24
9                                         united states 2021-09-24
12                              germany, czech republic 2021-09-23
24                                                india 2021-09-21
...                                                 ...        ...
8801                       united arab emirates, jordan 2016-03-09
8802                                      united states 2019-11-20
8804                                      united states 2019-11-01
8805                                      united states 2020-01-11
8806                                              india 2019-03-02

      release_year rating   duration  \
7             1993  TV-MA    125 min
8             2021  TV-14  9 Seasons
9             2021  PG-13    104 min
12            2021  TV-MA    127 min
24            1998  TV-14    166 min
...            ...    ...        ...
8801          2015  TV-MA     96 min
8802          2007      R    158 min
8804          2009      R     88 min
8805          2006     PG     88 min
8806          2015  TV-14    111 min

                                             listed_in  \
7     dramas, independent movies, international movies
8                         british tv shows, reality tv
9                                     comedies, dramas
12                        dramas, international movies
24     comedies, international movies, romantic movies
...                                                ...
8801           dramas, international movies, thrillers
8802                    cult movies, dramas, thrillers
8804                           comedies, horror movies
8805                children & family movies, comedies
8806    dramas, international movies, music & musicals

                                            description
7     On a photo shoot in Ghana, an American model s...
8     A talented batch of amateur bakers face off in...
9     A woman adjusting to life after a loss contend...
12    After most of her family is murdered in a terr...
24    When the father of the man she loves insists t...
...                                                 ...
8801  Recovering alcoholic Talal wakes up inside a s...
8802  A political cartoonist, a crime reporter and a...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[5332 rows x 12 columns]

In [15]:
df = pd.DataFrame(netflixdataset)
print(df.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [17]:
df.columns = (
    df.columns.str.strip()        
              .str.lower()         
              .str.replace(' ', '_', regex=True)  
              .str.replace('[^0-9a-zA-Z_]', '', regex=True)  
)

print(df.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5332 entries, 7 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5332 non-null   object
 1   type          5332 non-null   object
 2   title         5332 non-null   object
 3   director      5332 non-null   object
 4   cast          5332 non-null   object
 5   country       5332 non-null   object
 6   date_added    5328 non-null   datetime64[ns]
 7   release_year  5332 non-null   int64
 8   rating        5332 non-null   object
 9   duration      5332 non-null   object
 10  listed_in     5332 non-null   object
 11  description   5332 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 541.5+ KB